/* MAIN CSS SHEET */

table {

border:3px solid #454545;
}

.table tr td {
    border: 0;
    height:3px;
    padding:2px;
}

.container {

}

.table th {
   text-align:center;
   background-color: #989898 ;
   max-width:40px;

}

#times {
    background-color:gray;
}

element.style {
    left: 253px;
    position: relative;
    top: 119px;
}

#draggable2 {
    float: right;
    height: 100px;
    margin: 10px 10px 10px 0;
    padding: 0.5em;
    width: 100px;
}

.ui-widget-content {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}

#droppable {
    float: right;
    height: 150px;
    margin: 10px;
    padding: 0.5em;
    width: 150px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: url("images/ui-bg_glass_55_fbf9ee_1x400.png") repeat-x scroll 50% 50% #FBF9EE;
    border: 1px solid #FCEFA1;
    color: #363636;
}
.ui-widget-header {
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
