/* MAIN CSS SHEET */

table {

border:3px solid #454545;
}

.table tr td {
    border: 0;
    height:3px;
    padding:2px;
}

.container {

}

.table th {
   text-align:center;
   background-color: #989898 ;
   max-width:40px;

}
