/* MAIN CSS SHEET */

body,  {

}

h1, #subtitle {
    margin-left:1%;
}

td {
    border: none;
}


table {
    min-width:700px;
    border:3px solid #454545;
}

.table tr td {
    text-align:center;
    border: 0;
    height:2px;
    padding:1px;
}

.container {

}

.table th {
   text-align:center;
   background-color: #989898 ;
   max-width:40px;

}
